[Desktop Entry]
Encoding=UTF-8
Name=XTraw
Comment=XTraw P2P Cryptocurrency
Comment[fr]=XTraw, monnaie virtuelle cryptographique pair à pair
Comment[tr]=XTraw, eşten eşe kriptografik sanal para birimi
Exec=send-qt %u
Terminal=false
Type=Application
Icon=xtraw128
MimeType=x-scheme-handler/xtraw;
Categories=Office;Finance;
